{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% trans_default_domain "Admin.Design.Feature" %}

{% block content %}
    {% block alerts_list_panel %}
        <div class="row">
            <div class="col">
                {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with {'grid': alertsGrid} %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('themes/default/js/bundle/pagination.js') }}"></script>
    <script src="{{ asset('../modules/lkstockemailalerts/views/js/index.js') }}"></script>
{% endblock %}
